---
import { cn, CLASS_TEXT_COLOR_SECONDARY } from '@/utils/tailwindHelper';

interface Props {
  list: string[];
}
const props: Props = Astro.props;
---

<section class={cn(['flex gap-6 text-sm', CLASS_TEXT_COLOR_SECONDARY])}>
  <h4 class="flex-none italic">Tech Stack</h4>
  <ul class="flex gap-x-4 gap-y-1 flex-wrap">
    {props.list.map((item) => <li>{item}</li>)}
  </ul>
</section>
