---
import Layout from "@/layouts/BareboneLayout.astro";

import type { LayoutProps } from "@/layouts/layoutTypes";
interface Props extends LayoutProps {}
const { meta }: LayoutProps = Astro.props;
---

<Layout {meta}>
  <Fragment slot="html-head">
    <slot name="html-head" />
  </Fragment>
  <main class="px-4 py-10 sm:px-8 sm:py-20">
    <slot />
  </main>
  <footer
    class="mt-10 pb-5 sm:mt-20 sm:px-8 sm:pb-10 dark:bg-stone-950 dark:text-stone-100"
  >
    <div
      class="mx-auto max-w-4xl border-t border-stone-600 pt-10 sm:pt-20 xl:max-w-7xl dark:border-t-0"
    >
      <p class="text-sm">&copy; 2025, Henry Wu.</p>
    </div>
  </footer>
  <Fragment slot="html-body">
    <slot name="html-body" />
  </Fragment>
</Layout>
