---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Good Day</title>
  </head>
  <body
    class="bg-stone-100 dark:bg-stone-900 text-stone-950 dark:text-stone-100 text-lg/[1.7] sm:text-xl/[1.6] font-light print:font-normal tracking-wide"
  >
    <main class="px-4 sm:px-8 py-10 sm:py-20">
      <slot />
    </main>
  </body>
</html>
