---
import "@/styles/global.css";
import { getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Good Day</title>
        <script is:inline src="/js/clarity.js"></script>
    </head>
    <body
        class="bg-stone-100 text-lg/[1.7] font-light tracking-wide text-stone-950 sm:text-xl/[1.6] dark:bg-stone-900 dark:text-stone-100 print:font-normal"
    >
        <main class="px-4 py-10 sm:px-8 sm:py-20">
            <slot />
        </main>
        <footer
            class="mt-10 pb-5 sm:mt-20 sm:px-8 sm:pb-10 dark:bg-stone-950 dark:text-stone-100"
        >
            <div
                class="mx-auto max-w-4xl border-t border-stone-600 pt-10 sm:pt-20 xl:max-w-7xl dark:border-t-0"
            >
                <p class="text-sm">&copy; 2025, Henry Wu.</p>
            </div>
        </footer>
    </body>
</html>
