---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Good Day</title>
  </head>
  <body
    class="bg-stone-100 dark:bg-stone-900 text-stone-950 dark:text-stone-100 text-lg/[1.7] sm:text-xl/[1.6] font-light print:font-normal tracking-wide"
  >
    <main class="px-4 sm:px-8 py-10 sm:py-20">
      <slot />
    </main>
    <footer class="dark:bg-stone-950 dark:text-stone-100 sm:px-8 pb-5 sm:pb-10 mt-10 sm:mt-20">
      <div class="border-t border-stone-600 dark:border-t-0 pt-10 sm:pt-20 mx-auto max-w-4xl xl:max-w-7xl">
        <p class="text-sm">&copy; 2025, Henry Wu.</p>
      </div>
    </footer>
  </body>
</html>
